
@media screen and (max-width: 767px) {	
	
	.top-grey-bar span.start {
		padding-top:1em;
		text-align: center
	}
 	.gutter-sm{
	  	padding-right: 15px;
		padding-left: 15px;
	}
	.gutter {
		padding-right: 30px;
		padding-left: 30px;
	}
	.gutter-lg{
	 padding:0 1em ;
	}
	.gutter-xlg{
	 padding:0 1.5em ;
	}
	.gutter-xxlg{
	 padding:0 3.2em ;
	}
	.bottom-xs {
		bottom: 0;
		position: fixed;
		height: 46px;
		border-top: 1px solid #000;
	}
	.top-navbar {
		padding-top:0;
		background: #fff;
		position: fixed;
	}
	#content {
		 padding-top: 75px 
	}
	.top-navbar header{
  		margin:10px 0;
	}
	.top-navbar a.logo {
		margin-left: 15px;
	}
	.top-navbar .logo-img {
		max-width: 45px;
		margin-top:10px;
	}
	.top-navbar .brand {
		margin-left:10px;
		width: 190px;
	}
	.top-navbar h1.header {
  		padding-top: 0;
  		font-size: 1.5em;
  		padding-top: 10px;
	}
	.top-navbar .sub-head {
		font-size: .7em;
  		margin: 0;
  		padding: 0 6em 0 0.2em;
	}
	.top-navbar nav {
		margin-top: 10px;
		width:110%;
		float: left;
	}
	.top-navbar.fixed nav {
		margin-top: 10px
	}
	.top-navbar nav ul li {
		display: block;
		text-align: left;
		padding-left: 20px;
		line-height: 46px;
		border-bottom:1px solid #fff;
		background-color: #000;
	}
	.top-navbar nav ul li:last-child{
		border:none;
		line-height: 47px
	}
	.navbar-nav>li>a {
		color:white;
	}
	#masthead {
		max-height: 400px
	}
	.home-center h2,
	.section h2 {
		font-size: 28px;
		line-height: 30px;
		word-wrap: break-word;
	}
	.find-out-about {
		margin-top: 1em
	}
	.find-out-about .btn.services {
		width: 100%;
		background-position: 94% 16px;
	}
	.case-study.col-md-8 {
		margin-right: 0
	}
	#page ul.service-menu li {
		width: 100%;
		margin:0;
		padding:60px 1em 1em;
	}
	.greyPanel {
		padding: 40px 10px 30px 10px;
	}
	.logobar_title {
		font-size: .8em;
	}
	.logobar_break {
		width:80px;
	}
	.panel .img-responsive,
	.greyPanel .img-responsive {
		padding:15px
	}
	.section-greybar {
		font-size: .8em;
		padding: 15px;
		margin: 0 0 25px;
	}
	.service-item {
		text-align: center!important
	}
	.service-item header{
		margin:0;
	}
	.service-item header img {
		float:none;
	}
	.service-item header h4.title{
		font-size: 17px;
		padding:25px 25px 0
	}
	.service-item header hr {
		width:120px;
		margin-left:auto;
		margin-right: auto
	}
	.testimonials .header {
		margin: 30px auto 0;
		font-size: 1.1em;
		padding: 0 15px
	}
	.testi p {
		line-height: 1.5;
		font-size: .8em;
	}
	.witness .name {
		font-size: .9em;
	}
	.witness .info {
		font-size: .8em;
	}
	.inThePress {
		margin: 0;
	}
	.inThePress .header {
		margin: 0;
	}
	img.icon {
  		max-height: 75px;
	}
	.service-list img.icon {
		max-height: 75px;
		padding: 0.75em;
 		margin: 0 auto 15px;
	}
	.service-list {
		text-align: center!important;
	}
	#page h1, .h1 {
		font-size:20px;
 		line-height: 24px;
 		padding-right: 0em;
	}
	#page blockquote p {
		font-size: 18px;
		padding: 0;
	}
	#page p {
	 line-height: 1.3;
	 color: black;
	 font-size: 16px;
	}
	#page.contact p {
		line-height: 1.3;
	 	color: black;
	 	font-size: 16px;
	 	padding:0 1em;
	}
	#page ul {
	 margin: 0;
	 padding: 0;
	 font-size: 18px;
	 margin-top: 18px;
	}
	#page ul li {
		background-position: 0 5px;
 		padding: 0 0 10px 15px;
 		margin: 5px 0;
 		font-size: 12px;
 		line-height: 1.3;
 		color: black;
 		font-weight: 700;
	}
	#page ul.service-menu,
	#page ul.about,
	#page ul.coaching-menu {
		margin-top: 0
	}
	#page ul.service-menu li a {
		font-size: 1.3em
	}
	#page ol {
		background: transparent;
		padding-left: 20px;
	}

	#page ol li {
		font-size: 14px;
		line-height: 20px;
		padding: 0 0 5px;
	}
	#page h3 {
		text-shadow:none;
		background: none;
	}
	div#featured-image {
		width:50%;
	}
	#page ul.about li:first-child a {
		padding: 35px 25px 0 155px;
	}
	#page ul.about li:nth-child(2) a {
	padding: 68px 15px 0 161px
	}
	#page ul.about li:nth-child(3) a {
	padding: 90px 22px 0 190px
	}
	#page ul.coaching-menu li:first-child a {
		padding: 41px 125px 0 0;
	}
	.site-footer {
		height:140px;
		padding-top: 17px;
		text-align: center!important
	}
	.site-footer ul {
		padding:0;
	}
	.connect {
		float:none;
		padding: 0 0 0 20px;
	}
	.social-connect {
		margin: 7px;
  		display: inline-block;
  		float: none;
	}
	a.social-connect:last-of-type {
		margin-right: 28px
	}
	.connect a.phone {
		display: none
	}
	#testimonial-slider .flex-direction-nav {
  		display: none
  	}
}
  	
@media (min-width: 992px) {
	#page ul.about li {
		width: 305px;
		display: inline-block;
	}
  	.container {
		width:970px;
	}	
	.gutter-xs{
		padding:0 15px ;
	}
	.gutter-sm{
		padding:0 30px ;
	}
	.gutter {
		padding-right: 40px;
		padding-left: 40px;
	}
	.gutter-lg{
		padding:0 50px ;
	}
	.gutter-xlg{
		padding:0 90px ;
	}
	.gutter-xxlg{
		padding:0 120px ;
	}
	.cs-skin-overlay .cs-options > ul {
		width: 970px;
	}
	.top-navbar nav ul li:first-child{
		padding-left:0;
	}
	.inThePress .header {
		font-size: 1em;
		margin: 6px 40px 0 6px;
		max-width: 75px;
	}
	.find-out-about {
		padding:2em 0;
	}
}
@media (max-width: 1024px) {
  #main, #single, #error, #page {
		background-image: none!important;
  }
}


