
<div id="logobar" class="loading greyPanel">        
    <div class="container gutter">

      {% set images = options.client_logos %}
      <div id="logo-slider" class="flexslider">
        <ul class="slides">
            {% for image in images %}
              <li class="client-logo">          
                <img class="img-logo" src="{{TimberImage(image.id).get_src|resize(300)}}" alt="{{image.title}}">
              </li>
            {% endfor %}
        </ul>
      </div>
    </div>
        
</div>
