<div id="logobar" class="yellowPanel">

	<div class="shading-top"></div>
	 <img src="{{theme.uri}}/images/icon6.png" class="icon" alt="icon">
	<h3 class="logobar_title">WE WORK WITH EXECUTIVES AT</h3>
	<hr class="logobar_break">
	<img class="client-logos img-responsive" src="{{options.client_logo_bottom_page}}" alt="client logos">

	<div class="shading-bottom"></div>

</div>