<div class="top-yellow-bar bottom-xs">
  <div class="container gutter-sm">
    <span class="hidden-xs">
    	<a href="/contact">Email</a> or Call us today <a href="tel: {{options.phone_number}}">{{options.phone_number}}</a>
    </span>
    <span class="only-xs">
    	<a href="/contact">Get Started</a>
    </span>
  </div>
</div>