<div class="top-grey-bar bottom-xs">
  <div class="container">
    <span class="hidden-xs">
    	<a href="/contact">Email</a> or Call us today <a href="tel: {{options.phone_number}}">{{options.phone_number}}</a>
    </span>
    <span class="visible-xs-block start">
    	<a href="/contact">Tell us your story</a>
    </span>
  </div>
</div>