$font-stack: 'Raleway', sans-serif;
$font-ultralight:200;
$font-light:300;
$font-medium:500;
$font-bold:700;
$font-heavy:900;

$font-slim:'AnotherQuarter';
$font-highlight: 'Agenda';
$font-highlight-bold: 'Agenda Black';
$font-icons:'FontAwesome';

$highlight: #6584d4;

@font-face {
  font-family: 'AnotherQuarter';
  src: url('fonts/anotherquarter-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/anotherquarter-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/anotherquarter-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/anotherquarter-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/anotherquarter-regular.svg#cdcebc0f0b4bfa52d91ea1b94a6925fe') format('svg'); /* Legacy iOS */    
  font-style:   normal;
  font-weight:  200;
}
@font-face {
  font-family: 'Agenda Black';
  src: url('fonts/Agenda-Black.eot'); /* IE9 Compat Modes */
  src: url('fonts/Agenda-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Agenda-Black.woff') format('woff'), /* Modern Browsers */
       url('fonts/Agenda-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Agenda-Black.svg#43c86d8c48770b2c6b036a942c744fa2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Agenda';
  src: url('fonts/Agenda-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/Agenda-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Agenda-Medium.woff') format('woff'), /* Modern Browsers */
       url('fonts/Agenda-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Agenda-Medium.svg#baf4deebcdc6fbc3a6ceb2ca1c5cc8bb') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), 
  url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
  url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
  url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

