{% extends "base.twig" %}

{% block content %}
	
	<div id="error">
        <div class="container">
          
			<h2>Sorry, we couldn't find what you're looking for...</h2>
			
      </div>
	</div><!--content -->

{% endblock %}