{% extends "base.twig" %}

{% block content %}
	<div id="main">
        <div class="container">
          <div class="row">
			
			{% for post in posts %}
				{% include ['partials/tease-'~post.post_type~'.twig', 'partials/tease.twig'] %}
			{% endfor %}

			</div>
      	</div>
	</div><!--content -->

{% endblock %}