{% extends "base.twig" %}

{% block content %}

	<div id="single">
        <div class="container">
          <div class="row">
			<article class="col-md-12">

				<h2 class="article-h1">{{post.title}}</h1>

				<div class="article-body">
					{{post.content}}
				</div>
			
			</article>
		</div>
      </div>
	</div><!--content -->

{% endblock %}
